{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("pageNotFound404.title")) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ messages('pageNotFound404.heading') }}</h1>

        <p class="govuk-body">
          {{ messages('pageNotFound404.p1') }}
        </p>

        <p class="govuk-body">
          {{ messages('pageNotFound404.p2') }}
        </p>

       <p class="govuk-body"> <a href="{{ yourPensionSchemesUrl }}" class="govuk-link"> {{ messages("viewYourSchemes") }}</a>
        </p>
    </div>
  </div>
{% endblock %}