/*
====================================
Utility alignments
====================================
*/
.u-align--right {
  text-align: right;
}
@media screen and (min-width: 641px){
  .u-align--tablet-right {
    text-align: right;
  }
}
.u-align--center {
    text-align: center;
}

/*
====================================
Utility bold
Pulled from GDS elements typography
====================================
*/
.bold {
  font-weight: 700;
}
label > .bold {
  display: block; /*temp fix until form story can fix label structure*/
}

/*
====================================
Utility hyphen
Adds hyphens to words that don't naturally fit within their parent
====================================
*/
.hyphen {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
