@import "lib/govuk-frontend/govuk/base";
@import 'location-autocomplete.min';

.govuk-radios__input:disabled~.govuk-radios__hint {
  color: inherit;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.govuk-back-link {
  display: none;

  &.js-enabled {
    display: inline-block;
  }
}
